<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor = "let instance of satellites">
        <td>{{instance.name}}</td>
        <td *ngIf = "!instance.isSpaceDebris(); else spaceDebris">{{instance.type}}</td>
        <ng-template #spaceDebris><td class="warning" *ngIf = "instance.isSpaceDebris()">{{instance.type}}</td></ng-template>
        <td>{{instance.operational}}</td>
        <td>{{instance.orbitType}}</td>
        <td>{{instance.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

